{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>
<div class="container">
    <div class="col-2">
        {{ form_start(userForm) }}
        {{ form_row(userForm.email) }}
        {{ form_row(userForm.plainPassword, {
            label: 'Password'}) }}
        {{ form_row(userForm.confirmation) }}
        {{ form_row(userForm.pseudo) }}
        {{ form_row(userForm.prenom) }}
        {{ form_row(userForm.nom) }}
        {{ form_row(userForm.tel) }}


        {{ form_row(userForm.ville) }}

    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-outline-primary">S'inscrire</button>

    </div>
    {{ form_end(userForm) }}
</div>

{% endblock %}
