{% extends 'base.html.twig' %}

{% block title %}Admin addUsers{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center esup">
            <h1 class="text-center">Ajout de plusieurs utilisateurs (par .csv)</h1>
        </div>
        <div class="row justify-content-center esup">
            <table class="table table-striped caption-top">
                <caption>Exemple de fichier csv</caption>
                <thead>
                <tr class="table-primary">
                    <td>pseudo</td>
                    <td>email</td>
                    <td>password</td>
                    <td>prenom</td>
                    <td>nom</td>
                    <td>tel</td>
                    <td>roles</td>
                    <td>ville_id</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Ryu</td>
                    <td>ryu@free.fr</td>
                    <td>$2y$13$Mlu9cWBUlOJAIoOLai4cTOM/h.gGefEwZa37OQwK9HBKbGQBSiEnq</td>
                    <td>Ryan</td>
                    <td>Istrateur</td>
                    <td>0696857432</td>
                    <td>["ROLE_ADMIN""ROLE_USER"]</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Dop</td>
                    <td>dop@gmail.com</td>
                    <td>$2y$13$vy32jCZpq/YHqxHlJIqpiOrX8aBbxc1rnfQ0tEIJHM//ejGTwOlvS</td>
                    <td>Hugo</td>
                    <td>Gmail</td>
                    <td>0678451298</td>
                    <td>["ROLE_USER"]</td>
                    <td>2</td>
                </tr>
                </tbody>
            </table>
        </div>
        {{ form_start(usersForm) }}
        <div class="row justify-content-center esup">
            <div class="col-5">
                <div class="row">
                    <div class="col-5">
                        {{ form_label(usersForm.fichier) }}
                    </div>
                    <div class="col-2">
                        {{ form_widget(usersForm.fichier) }}
                    </div>
                </div>
                <div class="row esup">
                    <div class="text-center">
                        <button class="btn btn-primary">Charger les données en bdd</button>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row justify-content-center">
                    <h4 class="text-center">Resultat du chargement des données :</h4>
                </div>
                <div class="row">
                    {% if sucess %}
                        <div class="col">
                            <h5 style="color: green">Succès :</h5>
                            <ul>
                                {% for win in sucess %}
                                    <li style="color: green">{{ win }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if errors %}
                        <div class="col">
                            <h5 style="color: red">Erreur(s) :</h5>
                            <ul>
                                {% for error in errors %}
                                    <li style="color: red">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center esup">

        </div>
        {{ form_end(usersForm) }}
    </div>
{% endblock %}
