{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center esup">
            <h1 class="text-center">Mon profil</h1>
        </div>
        {% include '/errors.html.twig' %}
        <div class="row justify-content-center esup">
            <div class="col-3">
                {% if user.image is null %}
                    <img class="img-thumbnail" src="{{ asset('/css/200x200.png') }}" alt="Photo">
                {% else %}
                    <a href="{{ asset('/uploads/' ~ user.image.name) }}">
                        <img class="img-thumbnail" src="{{ asset('/uploads/' ~ user.image.name) }}" alt="Photo"
                             width="200" height="200">
                    </a>
                {% endif %}
            </div>
            <div class="col-6">
                {{ form_start(userForm) }}
                <div class="row">
                    <div class="col">
                        {{ form_label(userForm.pseudo) }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.pseudo) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        {{ form_label(userForm.prenom) }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.prenom) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        {{ form_label(userForm.nom) }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.nom) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        {{ form_label(userForm.tel) }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.tel) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        {{ form_label(userForm.email) }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.email) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        {{ form_label(userForm.password, 'Mot de passe') }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.password) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        {{ form_label(userForm.ville) }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.ville) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        {{ form_label(userForm.photo) }}
                    </div>
                    <div class="col">
                        {{ form_widget(userForm.photo) }}
                    </div>
                </div>

                <div class="row esup">
                    <div class="col">
                        <button class="btn btn-outline-success" type="submit">Enregistrer</button>
                        <a href="{{ path('profil') }}" role="button" class="btn btn-outline-secondary">Retour</a>
                    </div>
                </div>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}