{% set route = app.request.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('home_page') }}">Sortir.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if 'home_page' in route %}active{% endif %}" aria-current="page" href="{{ path('home_page') }}">Accueil</a>
                </li>
                {% if app.user %}
                    {% if app.user.isMobile == false %}
                        <li class="nav-item">
                            <a class="nav-link {% if 'creer_sortie' in route %}active{% endif %}" href="{{ path('creer_sortie') }}">Créer une sortie</a>
                        </li>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="nav-item">
                                <a class="nav-link {% if 'ville' in route %}active{% endif %}" href="{{ path('ville') }}">Villes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if 'site' in route %}active{% endif %}" href="{{ path('site') }}">Sites</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link {% if 'admin' in route %}active{% endif %} dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestion admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{{ path('admin') }}">Administration des utilisateurs</a></li>
                                    <li><a class="dropdown-item" href="{{ path('admin_add_users') }}">Ajouts de plusieurs utilisateurs</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'profil' in route %}active{% endif %}" href="{{ path('profil') }}">Mon profil</a>
                    </li>
                {% endif %}
            </ul>
            {% if app.user %}
                <span style="color: white"> {{ app.user.pseudo }} &nbsp - &nbsp </span>
            {% endif %}
            <span style="color: white">Date du jour : {{ "now"|date("d/m/Y") }} &nbsp - &nbsp </span>
            {% if app.user %}
                <a class="btn btn-danger" role="button" href="{{ path('app_logout') }}">Se déconnecter</a><br>
            {% else %}
                <a class="btn btn-success" role="button" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>