{% extends 'base.html.twig' %}

{% block title %}Project Sortir{% endblock %}

{% block body %}
    {# Contenu de la page #}

    {# Formulaire de recherche #}
    <div class="container">
        <h3>Filtrer les sorties</h3>
        {{ form_start(searchForm) }}
            <table>
                <tr>
                    <td>{{ form_label(searchForm.villeId) }}</td>
                    <td>{{ form_widget(searchForm.villeId) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(searchForm.nameSortie) }}</td>
                    <td>{{ form_widget(searchForm.nameSortie) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(searchForm.dateDebut) }}</td>
                    <td>{{ form_widget(searchForm.dateDebut) }}</td>
                    <td>{{ form_label(searchForm.dateFin) }}</td>
                    <td>{{ form_widget(searchForm.dateFin) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(searchForm.sortieOrganisateur) }}</td>
                    <td>{{ form_widget(searchForm.sortieOrganisateur) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(searchForm.sortieInscrit) }}</td>
                    <td>{{ form_widget(searchForm.sortieInscrit) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(searchForm.sortieNonInscrit) }}</td>
                    <td>{{ form_widget(searchForm.sortieNonInscrit) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(searchForm.sortiePassees) }}</td>
                    <td>{{ form_widget(searchForm.sortiePassees) }}</td>
                </tr>
            </table>
        <button class="btn btn-primary" >Rechercher</button>
        {{ form_end(searchForm) }}
    </div>
    {# Liste des sorties #}
    <div class="container esup">
        <table class="table table-striped caption-top">
            <caption>Liste des sorties</caption>
            <thead>
            <tr class="table-primary">
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% if sortie.publiee or sortie.organisateur == app.user and sortie.publiee == false %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateSortie|date("d/m/Y H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td class="text-center">{{ sortie.inscrits|length }}/{{ sortie.nbPlaces }}</td>
                        <td>
                            {% if sortie.motifAnnulation is not null %}
                                <label>Annulé</label>
                            {% elseif  sortie.dateSortie|date_modify('+' ~sortie.duree  ~ 'min')|date("Y/m/d H:i","Europe/Paris") <= "now"|date("Y/m/d H:i","Europe/Paris") %}
                                <label>Terminé</label>
                            {% elseif  sortie.dateSortie|date("Y/m/d H:i","Europe/Paris") <= "now"|date("Y/m/d H:i","Europe/Paris") %}
                                <label>En cours</label>
                            {% elseif sortie.dateLimiteInscription|date("Y/m/d","Europe/Paris") < "now"|date("Y/m/d","Europe/Paris") %}
                                <label>Fermé</label>
                            {% elseif sortie.inscrits|length < sortie.nbPlaces %}
                                <label>Ouvert</label>
                            {% else %}
                                <label>Complet</label>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if app.user in sortie.inscrits %}
                                <label>X</label>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('profil_id', {id: sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>
                        <td>
                            {% if sortie.publiee %}
                                <a class="btn btn-outline-primary" role="button"
                                   href="{{ path('show_sortie', {id: sortie.id }) }}">Afficher</a>
                            {% else %}
                                <a class="btn btn-outline-success" role="button"
                                   href="{{ path('publiee_sortie', {id: sortie.id }) }}">Publier</a>
                            {% endif %}
                            {% if sortie.organisateur == app.user or isAdmin %}
                                {% if sortie.motifAnnulation is empty %}
                                    <a class="btn btn-outline-primary" role="button"
                                       href="{{ path('modifier_sortie', {id: sortie.id }) }}">Modifier</a>
                                    <a class="btn btn-outline-danger" role="button"
                                       href="{{ path('annuler_sortie', {id: sortie.id }) }}">Annuler</a>
                                {% endif %}
                            {% else %}
                                {% if app.user in sortie.inscrits %}
                                    {% if sortie.dateSortie >= "now"|date("Y/m/d H:i","Europe/Paris") %}
                                        <a class="btn btn-outline-danger" role="button"
                                           href="{{ path('desinscription', {id: sortie.id }) }}">Se desister</a>
                                    {% endif %}
                                {% else %}
                                    {% if sortie.dateLimiteInscription  >= "now"|date("Y/m/d","Europe/Paris") and sortie.dateSortie > "now"|date("Y/m/d H:i","Europe/Paris")  and sortie.inscrits|length < sortie.nbPlaces %}
                                        <a class="btn btn-outline-success" role="button"
                                           href="{{ path('inscription', {id: sortie.id }) }}">S'inscrire</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}