{% extends 'base.html.twig' %}

{% block title %}Project Sortir{% endblock %}

{% block body %}
    {# Contenu de la page #}
    <div class="container">
        <h3>Filtrer les sorties</h3>
        <table>
            <tr>
                <td>
                    <label for="site_liste">Site :</label>
                </td>
                <td>
                    <select id="site_liste" name="site_liste">
                        <option value="">Veuillez choisir un site</option>
                        {% for site in sites %}
                            <option value="{{ site.getId }}">{{ site.getNom }}</option>
                        {% endfor %}</select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sortie_name_search">Le nom de la sortie contient :</label>
                </td>
                <td>
                    <input type="text" id="sortie_name_search" name="sortie_name_search">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="date_debut_search">Entre :</label>
                </td>
                <td>
                    <input type="date" id="sortie_name_search" name="sortie_name_search">
                </td>
                <td>
                    <label for="date_fin_search"> Et :</label>
                </td>
                <td>
                    <input type="date" id="date_fin_search" name="date_fin_search">
                </td>
            </tr>
        </table>
    </div>

    <div class="container esup">
        <table class="table table-striped" style="padding-left: 5px;padding-right: 5px;">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.getNom }}</td>
                    <td>{{ sortie.getDateSortie|date("d/m/Y h:i") }}</td>
                    <td>{{ sortie.getDateLimiteInscription|date("d/m/Y") }}</td>
                    <td style="text-align: center">{{ sortie.getInscrits|length }}/{{ sortie.getNbPlaces }}</td>
                    <td>
                        {% if  sortie.getDateSortie|date("d/m/Y h:i") <= "now"|date("d/m/Y h:i","Europe/Paris") and sortie.getDateSortie|date_modify('+' ~sortie.getDuree  ~ 'min')|date("d/m/Y h:i") >= "now"|date("d/m/Y h:i") %}
                            <label>En cours</label>
                        {% elseif  sortie.getDateLimiteInscription|date("d/m/Y")  <= "now"|date("d/m/Y") and  sortie.getDateSortie|date("d/m/Y h:i") <= "now"|date("d/m/Y h:i","Europe/Paris") %}
                            <label>Fermé</label>
                        {% elseif sortie.getInscrits|length < sortie.getNbPlaces %}
                            <label>Ouvert</label>
                        {% else %}
                            <label>Complet</label>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if app.user in sortie.getInscrits %}
                            <label>X</label>
                        {% endif %}
                    </td>
                    <td>{{ sortie.getVilleOrganisatrice.getNom }}</td>
                    <td>
                        {% if sortie.organisateur == app.user %}
                            <a class="btn btn-outline-primary" role="button"
                               href="{{ path('modifier_sortie', {id: sortie.getId }) }}">Modifier</a>

                        {% else %}
                            <a class="btn btn-outline-primary" role="button">Afficher</a>
                            {% if app.user in sortie.getInscrits %}
                                {% if sortie.getDateSortie|date("d/m/Y h:i") >= "now"|date("d/m/Y h:i","Europe/Paris") %}
                                    <a class="btn btn-outline-danger" role="button"
                                       href="{{ path('desinscription', {id: sortie.getId }) }}">Se desister</a>
                                {% endif %}
                            {% else %}
                                {% if sortie.getDateLimiteInscription|date("d/m/Y")  >= "now"|date("d/m/Y") and sortie.getDateSortie|date("d/m/Y h:i") >= "now"|date("d/m/Y h:i","Europe/Paris") %}
                                    <a class="btn btn-outline-success" role="button"
                                       href="{{ path('inscription', {id: sortie.getId }) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}