{% extends 'base.html.twig' %}

{% block title %}Project Sortir{% endblock %}

{% block body %}
    {# Contenu de la page #}
    <div class="container">
        <h3>Filtrer les sorties</h3>
        <table>
            <tr>
                <td>
                    <label for="site_liste">Site :</label>
                </td>
                <td>
                    <select id="site_liste" name="site_liste">
                        <option value="">Veuillez choisir un site</option>
                        {% for site in sites %}
                            <option value="{{ site.id }}">{{ site.nom }}</option>
                        {% endfor %}</select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sortie_name_search">Le nom de la sortie contient :</label>
                </td>
                <td>
                    <input type="text" id="sortie_name_search" name="sortie_name_search">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="date_debut_search">Entre :</label>
                </td>
                <td>
                    <input type="date" id="sortie_name_search" name="sortie_name_search">
                </td>
                <td>
                    <label for="date_fin_search"> Et :</label>
                </td>
                <td>
                    <input type="date" id="date_fin_search" name="date_fin_search">
                </td>
            </tr>
        </table>
    </div>
    <div class="container esup">
        <table class="table table-striped caption-top">
            <caption>Liste des sorties</caption>
            <thead>
            <tr class="table-primary">
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateSortie|date("Y/m/d H:i") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("Y/m/d") }}</td>
                    <td class="text-center">{{ sortie.inscrits|length }}/{{ sortie.nbPlaces }}</td>
                    <td>
                        {% if  sortie.dateSortie|date_modify('+' ~sortie.duree  ~ ' minutes')|date("Y/m/d H:i") <= "now"|date("Y/m/d H:i","Europe/Paris") %}
                            <label>Terminé</label>
                        {% elseif  sortie.dateSortie|date("Y/m/d H:i") <= "now"|date("Y/m/d H:i","Europe/Paris") %}
                            <label>En cours</label>
                        {% elseif sortie.dateLimiteInscription|date("Y/m/d") < "now"|date("Y/m/d") %}
                            <label>Fermé</label>
                        {% elseif sortie.inscrits|length < sortie.nbPlaces %}
                            <label>Ouvert</label>
                        {% else %}
                            <label>Complet</label>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if app.user in sortie.inscrits %}
                            <label>X</label>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('profil_id', {slug: sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo}}</a></td>
                    <td>
                        <a class="btn btn-outline-primary" role="button"
                           href="{{ path('show_sortie', {slug: sortie.id }) }}">Afficher</a>
                        {% if sortie.organisateur == app.user %}
                            <a class="btn btn-outline-primary" role="button"
                               href="{{ path('modifier_sortie', {id: sortie.id }) }}">Modifier</a>
                        {% else %}

                            {% if app.user in sortie.inscrits %}
                                {% if sortie.dateSortie|date("Y/m/d H:i") >= "now"|date("Y/m/d H:i","Europe/Paris") %}
                                    <a class="btn btn-outline-danger" role="button"
                                        href="{{ path('desinscription', {id: sortie.id }) }}">Se desister</a>
                                {% endif %}
                            {% else %}
                                {% if sortie.dateLimiteInscription|date("Y/m/d")  >= "now"|date("Y/m/d") and sortie.dateSortie|date("Y/m/d H:i") > "now"|date("Y/m/d H:i","Europe/Paris")  and sortie.inscrits|length < sortie.nbPlaces %}
                                    <a class="btn btn-outline-success" role="button"
                                        href="{{ path('inscription', {id: sortie.id }) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}