{% extends 'base.html.twig' %}

{% block title %}Project Sortir{% endblock %}

{% block body %}
    {# Contenu de la page #}
    <h3>Filtrer les sorties</h3>
    <br>
    <div class="container">
                <table class="table table-striped" style="padding-left: 5px;padding-right: 5px;">
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Descriptions</th>
                        <th>Actions</th>
                    </tr>
                    {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.getNom }}</td>
                        <td>{{ sortie.getDateSortie|date("m/d/Y h:i") }}</td>
                        <td>{{ sortie.getDateLimiteInscription|date("m/d/Y") }}</td>
                        <td style="text-align: center">{{ sortie.getInscrits|length }}/{{ sortie.getNbPlaces }}</td>
                        <td>
                            {% if sortie.getInscrits|length < sortie.getNbPlaces %}
                                <label>Ouvert</label>
                            {% else %}
                                <label>Complet</label>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if app.user in sortie.getInscrits %}
                                <label>x</label>
                            {% endif %}
                        </td>
                        <td>{{ sortie.getVilleOrganisatrice.getNom }}</td>
                        <td>{{ sortie.getDescription }}</td>
                        <td>
                            {% if sortie.organisateur == app.user %}
                                <a class="btn btn-outline-primary" role="button" href="{{ path('modifier_sortie', {id: sortie.getId }) }}">Modifier</a>

                            {% else %}
                                {% if app.user in sortie.getInscrits %}
                                    <a class="btn btn-outline-danger" role="button" href="{{ path('desinscription', {id: sortie.getId }) }}">Se desister</a>
                                {% else %}
                                    <a class="btn btn-outline-success" role="button" href="{{ path('inscription', {id: sortie.getId }) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
    </div>

{% endblock %}