{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie{% endblock %}

{% block body %}

    <h2>Modifier une sortie</h2>
    {{ form_start(sortieForm) }}

    <div class="group">
        <div class="group-item name">
            {{ form_row(sortieForm.nom) }}
        </div>
        <div class="group-item date-sortie">
            {{ form_row(sortieForm.dateSortie) }}
        </div>
        <div class="group-item date-inscription">
            {{ form_row(sortieForm.dateLimiteInscription) }}
        </div>
        <div class="group-item nombre-places">
            {{ form_row(sortieForm.nbPlaces) }}
        </div>
        <div class="group-item duree">
            {{ form_row(sortieForm.duree) }}
            <span>Minutes</span>
        </div>
        <div class="group-item description">
            {{ form_row(sortieForm.description) }}
        </div>
    </div>
    <div class="group">
        <div class="group-item drop-down">
            {{ form_row(sortieForm.villeAccueil) }}
        </div>
        <div class="group-item drop-down">
            {{ form_row(sortieForm.site) }}
        </div>
    </div>

    <button class="btn btn-outline-success">Enregistrer</button>
    <a class="btn btn-outline-danger" role="button" href="{{ path('supprimer_sortie', {id: sortieId }) }}">Supprimer la sortie</a>
    <a class="btn btn-outline-secondary" role="button" href="{{ path('home_page') }}">Annuler</a>


    {{ form_end(sortieForm) }}
{% endblock %}
