{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ("{{ sortie.villeAccueil.id }}" != -1) {
                updateLieux({{ sortie.villeAccueil.id }});
            }
            $('#sortie_villeAccueil').change((e) => {
                updateLieux(e.currentTarget.value);
            });
        });

        function updateLieux(villeSelectionnee) {
            let url = "{{ path('select_ville', {id: 'remplacerVilleID'}) }}";
            url = url.replace('remplacerVilleID', villeSelectionnee);
            fetch(url)
                .then(response => response.json())
                .then((sites) => {
                    console.log(sites);
                    $('#sortie_site').empty();
                    sites.forEach((element) => {
                        let site = document.createElement("option");
                        site.value = element[0];
                        site.innerText = element[1];
                        $('#sortie_site').append(site);
                        if ("{{ sortie.site.id }}" != -1 && "{{ sortie.site.id }}" == element[0]) {
                            site.setAttribute('selected', 'true');
                        }
                    });
                });
        }
    </script>
{% endblock %}

{% block title %}
    {% if sortie.id %}
        Modifier la sortie
    {% else %}
        Créer la sortie
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row esup">
            {% if sortie.id == -1 %}
                <h2 class="text-center">Créer une sortie</h2>
            {% else %}
                <h2 class="text-center">Modifier une sortie</h2>
            {% endif %}
        </div>
        {% include '/errors.html.twig' %}
        {{ form_start(sortieForm) }}
        <div class="row justify-content-center esup">
            <div class="col-4">
                <div class="row form-group esup">
                    <div class="col-5">
                        {{ form_label(sortieForm.nom) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.nom) }}
                    </div>
                </div>
                <div class="row form-group esup">
                    <div class="col-5">
                        {{ form_label(sortieForm.dateSortie) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.dateSortie) }}
                    </div>
                </div>
                <div class="row form-group esup">
                    <div class="col-5">
                        {{ form_label(sortieForm.dateLimiteInscription) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.dateLimiteInscription) }}
                    </div>
                </div>
                <div class="row form-group esup">
                    <div class="col col-5">
                        {{ form_label(sortieForm.nbPlaces) }}
                    </div>
                    <div class="col col-7">
                        {{ form_widget(sortieForm.nbPlaces) }}
                    </div>
                </div>
                <div class="row form-group esup">
                    <div class="col-5">
                        {{ form_label(sortieForm.duree) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.duree) }}
                    </div>
                </div>
                <div class="row form-group esup">
                    <div class="col-5">
                        {{ form_label(sortieForm.description) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.description) }}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row form-group esup">
                    <div class="col-5">
                        {{ form_label(sortieForm.villeOrganisatrice) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.villeOrganisatrice) }}
                    </div>
                </div>
                <div class="row form-group esup">
                    <div class="col-5">
                        {{ form_label(sortieForm.villeAccueil) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.villeAccueil) }}
                    </div>
                </div>
                <div class="row form-group esup drop-down">
                    <div class="col-5">
                        {{ form_label(sortieForm.site) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(sortieForm.site) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-1 p-3 text-center">
            <button class="btn btn-outline-primary" name="button" value="enregistrer">Enregistrer</button>
            {% if sortie.publiee == false %}
                {% if sortie.id %}
                    <a class="btn btn-outline-success" role="button"
                       href="{{ path('publiee_sortie', {slug: sortie.id}) }}">Publier
                        la sortie</a>
                    <a class="btn btn-outline-danger" role="button"
                       href="{{ path('supprimer_sortie', {slug: sortie.id}) }}">Supprimer la sortie</a>
                {% else %}
                    <button class="btn btn-outline-success" name="button" value="publier">Publier la sortie</button>
                {% endif %}
            {% else %}
                <a class="btn btn-outline-danger" role="button" href="{{ path('annuler_sortie', {slug: sortie.id}) }}">Annuler
                    la sortie</a>
            {% endif %}

            <a class="btn btn-outline-secondary" role="button" href="{{ path('home_page') }}">Retour</a>
        </div>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}
