{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if("{{ villeId }}"  != -1 ) {
                updateLieux({{ villeId }});
            }
            $('#sortie_villeAccueil').change((e) => {
                updateLieux(e.currentTarget.value);
            });
        });
        function updateLieux(villeSelectionnee) {
            let url = "{{ path('select_ville', {id: 'remplacerVilleID'}) }}";
            url = url.replace('remplacerVilleID', villeSelectionnee);
            fetch(url)
                .then(response => response.json())
                .then((sites) => {
                    console.log(sites);
                    $('#sortie_site').empty();
                    sites.forEach((element) => {
                        let site = document.createElement("option");
                        site.value = element[0];
                        site.innerText = element[1];
                        $('#sortie_site').append(site);
                        if ("{{ lieuId }}" != -1 && "{{ lieuId }}" == element[0]) {
                            site.setAttribute('selected', 'true');
                        }
                    });
                });
        }
    </script>
{% endblock %}

{% block title %}
    {% if sortieId == -1 %}
        Créer la sortie
    {% else %}
        Modifier la sortie
    {% endif %}
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row p-3">
            {% if sortieId == -1 %}
            <h2 class="text-center">Créer une sortie</h2>
            {% else %}
            <h2 class="text-center">Modifier une sortie</h2>
            {% endif %}
        </div>
        <div class="row">
            {{ form_start(sortieForm) }}
            <div class="row justify-content-center">
                <div class="col col-4">
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.nom) }}
                        </div>
                        <div class="col">
                            {{ form_widget(sortieForm.nom) }}
                        </div>
                    </div>
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.dateSortie) }}
                        </div>
                        <div class="col">
{#                            <input id="sortie_dateSortie_date" type="date">#}
                            {{ form_widget(sortieForm.dateSortie) }}
                        </div>
                    </div>
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.dateLimiteInscription) }}

{#                            <label for="{{ field_name(sortieForm.dateLimiteInscription) }}">#}
{#                                {{ form_label(sortieForm.dateLimiteInscription)  }}#}
{#                            </label>#}
                        </div>
                        <div class="col">
{#                            <input#}
{#                                    id="{{ field_name(sortieForm.dateLimiteInscription) }}"#}
{#                                    value="{{ field_value(sortieForm.dateLimiteInscription)}}"#}
{#                                    type="date"#}
{#                            >#}
                            {{ form_widget(sortieForm.dateLimiteInscription) }}
                        </div>
                    </div>
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.nbPlaces) }}
                        </div>
                        <div class="col">
                            {{ form_widget(sortieForm.nbPlaces) }}
                        </div>
                    </div>
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.duree) }}
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col col-3">
                                    {{ form_widget(sortieForm.duree) }}
                                </div>
                                <div class="col col-3" style="pointer-events: none;">Minutes</div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.description) }}
                        </div>
                        <div class="col">
                            {{ form_widget(sortieForm.description) }}
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.villeOrganisatrice) }}
                        </div>
                        <div class="col">
                            {{ form_widget(sortieForm.villeOrganisatrice) }}
                        </div>
                    </div>
                    <div class="row form-group esup">
                        <div class="col">
                            {{ form_label(sortieForm.villeAccueil) }}
                        </div>
                        <div class="col">
                            {{ form_widget(sortieForm.villeAccueil) }}
                        </div>
                    </div>
                    <div class="row form-group p-3 drop-down">
                        <div class="col">
                            {{ form_label(sortieForm.site) }}
                        </div>
                        <div class="col">
                            {{ form_widget(sortieForm.site) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-1 p-3" style="text-align: center">
            {% if sortieId == -1 %}
                <button class="btn btn-outline-success">Publier</button>
                <a class="btn btn-outline-secondary" role="button" href="{{ path('home_page') }}">Annuler</a>
            {% else %}
                <button class="btn btn-outline-success">Enregistrer</button>
                <a class="btn btn-outline-danger" role="button" href="{{ path('supprimer_sortie', {id: sortieId}) }}">Supprimer la sortie</a>
                <a class="btn btn-outline-secondary" role="button" href="{{ path('home_page') }}">Annuler</a>
            {% endif %}
            </div>
            {{ form_end(sortieForm) }}
        </div>
    </div>
{% endblock %}
