{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center esup">
            <h1 class="text-center">{{ sortie.nom }}</h1>
        </div>
        <div class="row justify-content-center esup">
            <div class="col">
                {% include 'row.html.twig' with { 'label': 'Nom de la sortie :', 'value':  sortie.nom } %}
                {% include 'row.html.twig' with { 'label': 'Date et heure de la sortie :', 'value':  sortie.dateSortie|date("d/m/Y H:i") } %}
                {% include 'row.html.twig' with { 'label': 'Date limite d\'inscription :', 'value':  sortie.dateLimiteInscription|date("d/m/Y") } %}
                {% include 'row.html.twig' with { 'label': 'Nombre de places :', 'value':  sortie.nbPlaces } %}
                {% include 'row.html.twig' with { 'label': 'Durée :', 'value':  sortie.getDureeString } %}
                {% include 'row.html.twig' with { 'label': 'Description et infos :', 'value': sortie.description } %}
            </div>
            <div class="col">
                {% include 'row.html.twig' with { 'label': 'Ville organisatrice :', 'value': sortie.villeOrganisatrice } %}
                {% include 'row.html.twig' with { 'label': 'Lieu :', 'value': sortie.site.nom } %}
                {% include 'row.html.twig' with { 'label': 'Rue :', 'value': sortie.site.rue } %}
                {% include 'row.html.twig' with { 'label': 'Ville :', 'value': sortie.villeAccueil.codePostal } %}
                {% include 'row.html.twig' with { 'label': 'Latitude :', 'value': 'TODO' } %}
                {% include 'row.html.twig' with { 'label': 'Longitude :', 'value': 'TODO' } %}
                <div class="row-1 esup">
                    {% if sortie.motifAnnulation is empty %}
                        {% if idUserConnecte == sortie.organisateur.id and sortie.publiee == false %}
                            <a class="btn btn-outline-danger" role="button"
                               href="{{ path('supprimer_sortie', {id: sortie.id}) }}">Supprimer la sortie</a>
                        {% elseif idUserConnecte == sortie.organisateur.id or isAdmin %}
                            <a class="btn btn-outline-danger" role="button"
                               href="{{ path('annuler_sortie', {id: sortie.id}) }}">Annuler la sortie</a>
                        {% endif %}
                        {% if idUserConnecte != sortie.organisateur.id %}
                            {% if inscritALaSortie %}
                                <a class="btn btn-outline-danger" role="button"
                                   href="{{ path('desinscription', {id: sortie.id }) }}">Se desister</a>

                            {% else %}
                                <a class="btn btn-outline-success" role="button"
                                   href="{{ path('inscription', {id: sortie.id }) }}">S'inscrire</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-outline-primary" role="button"
                               href="{{ path('modifier_sortie', {id: sortie.getId }) }}">Modifier</a>
                        {% endif %}
                    {% else %}
                        <div class="row" style="color: red">
                            <div class="col-4">MOTIF DE L'ANNULATION :</div>
                            <div class="col">{{ sortie.motifAnnulation }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-start esup">
            <div class="col-4">
                <table class="table table-striped caption-top">
                    <caption>Liste des inscrits à la sortie</caption>
                    <thead>
                    <tr class="table-primary">
                        <th class="text-center">Pseudo</th>
                        <th class="text-center">Prénom NOM</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscrit in inscrits %}
                        <tr>
                            <td class="text-center">
                                <a href="{{ path('profil_id', {id: inscrit.id}) }}">{{ inscrit.pseudo }}</a>
                            </td>
                            <td class="text-center">{{ inscrit.prenom }} {{ inscrit.nom|upper }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}